In [ ]:
!pip install selenium

In [1]:
#import libraries
import selenium
from selenium import webdriver

import pandas as pd

In [2]:
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

# Q-1) To scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data from naukri.com

In [6]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.naukri.com/')
time.sleep(1)

#entering designation and location as per the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')
time.sleep(1)


location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')
time.sleep(1)


#click the search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()
time.sleep(5)

#initializing empty lists 
job_title = []
job_location = []
company_name = []
exp_required = []

#scraping job_title from given page
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text.strip())
    
#scraping job location
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    job_location.append(i.text.strip())
    
#scraping company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text.strip())
    
#print(company_name)
#scraping experience
exp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    exp_required.append(i.text.strip())
    
#creating a data frame
df = pd.DataFrame({"Job Title":job_title,"Location":job_location,"Company Name":company_name,"Experience Req":exp_required})
df

,Job Title,Location,Company Name,Experience Req
0,Senior Data Analyst,"Bangalore/Bengaluru, Chennai",Latentview,3-6 Yrs
1,Data Analyst,"Bangalore/Bengaluru, Mangaluru/Mangalore, Pune...","Coresight Research, Inc.",4-8 Yrs
2,Data Analyst,Bangalore/Bengaluru,Varite,2-5 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst,Bangalore/Bengaluru,Jar,0-4 Yrs
5,Hiring For Data Analyst (DA)/ Team Lead (TL) -...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,3-8 Yrs
6,Call For Clinical Data Analyst - Hyd/Bangalore...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Cognizant,6-9 Yrs
7,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,5-10 Yrs
8,Payroll Transformation Data Analyst,Bangalore/Bengaluru,Arrow Electronics,3-7 Yrs
9,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs

# Q-2) To scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data from naukri.com

In [7]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.naukri.com/')
time.sleep(1)

#entering designation and location as per the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')
time.sleep(1)

location = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')
time.sleep(1)

#click the search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()
time.sleep(5)

#initializing empty lists 
job_title = []
job_location = []
company_name = []

#scraping job_title from given page
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text.strip())
    
#scraping job location
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    job_location.append(i.text.strip())
    
#scraping company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text.strip())
    
#creating a data frame
df = pd.DataFrame({"Job Title":job_title,"Location":job_location,"Company Name":company_name})
df

,Job Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
4,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM
8,Data Scientist - Computer Vision,Bangalore/Bengaluru,Walmart
9,Senior Data Scientist,"Bangalore/Bengaluru, Pune, Chennai",Wipro

# Q-3) You have to use the location and salary filter.
- You have to scrape data for “Data Scientist” designation for first 10 job results.
- You have to scrape the job-title, job-location, company name, experience required.
- The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
- webiste - naukri.com

In [9]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.naukri.com/')
time.sleep(1)

#entering designation as per the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')
time.sleep(1)

#click the search button
search = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search.click()
time.sleep(5)

#apply location filter
loc_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[3]/label/i')
loc_filter.click()
time.sleep(2)

#apply salary filter
salary_filter = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')
salary_filter.click()
time.sleep(2)

#initializing empty lists for job-title, job-location, company name, experience required. 
job_title = []
job_location = []
company_name = []
exp_required = []

#scraping job_title from given page
title = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title[0:10]:
    job_title.append(i.text.strip())
    
#scraping job location
loc = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc[0:10]:
    job_location.append(i.text.strip())
    
#scraping company name
company = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text.strip())
    
#scraping experience
exp = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp[0:10]:
    exp_required.append(i.text.strip())
    
#creating a data frame
df = pd.DataFrame({"Job Title":job_title,"Location":job_location,"Company Name":company_name,"Experience Req":exp_required})
df

,Job Title,Location,Company Name,Experience Req
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,2-4 Yrs
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,4-7 Yrs
2,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates,5-8 Yrs
3,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics,6-10 Yrs
4,Module Lead - BIDW,Bangalore/Bengaluru,Mphasis,5-8 Yrs
5,Data Scientist I,Bangalore/Bengaluru,Uber,5-7 Yrs
6,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad,0-2 Yrs
7,Geospatial Data Engineer/Scientist,Bangalore/Bengaluru,Louis Dreyfus Commodities,5-10 Yrs
8,Python Programming Language Data Science Pract...,Bangalore/Bengaluru,Accenture,4-6 Yrs
9,Data Scientist - Senior Analyst,Bangalore/Bengaluru,Merck,1-3 Yrs

# Q-4) Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:Brand, Product Description, Price

In [11]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.flipkart.com/')
time.sleep(2)

#close the login prompt
login_dialog_box = driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
login_dialog_box.click()
time.sleep(2)

#enter sunglasses in search field
search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search.send_keys('sunglasses')
time.sleep(2)

#click search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()
time.sleep(5)

#initializing attributed need to be scraped
brand_name = []
description = []
price = []
discount = []

#page contains 40 items only
page = 1

count_name = 0
count_des = 0
count_price = 0
count_dist = 0

while (page <= 3):
    #scraping name from given page
    name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        if(count_name<100):
            brand_name.append(i.text.strip())
            count_name = count_name + 1
    #print(brand_name)
            
    #scraping description
    des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        if(count_des<100):
            description.append(i.text.strip())
            count_des = count_des + 1
    #print(description)
    
    #scraping price
    pr = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        if(count_price<100):
            price.append(i.text.strip())
            count_price = count_price + 1
    #print(price)

    #scraping discount
    disc = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in disc:
        if(count_dist<100):
            discount.append(i.text.strip())
            count_dist = count_dist + 1
    #print(discount)

    #click next button
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]//span')
    for i in next_button:
        #print("i=",i.text)
        if (i.text == 'NEXT'):
            page = page + 1
            i.click()
            time.sleep(1)

    #print ("Length name:",{len(brand_name)})   
#creating a data frame
df = pd.DataFrame({"Brand Name":brand_name,"Description":description,"Price":price,"Discount":discount})
df

,Brand Name,Description,Price,Discount
0,SKYZA INDIA,"UV Protection, Mirrored Spectacle Sunglasses (...",₹399,60% off
1,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)",₹272,86% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),₹179,86% off
4,LIZA ANGEL,UV Protection Wayfarer Sunglasses (Free Size),₹199,50% off
...,...,...,...,...
95,ROYAL SON,Mirrored Aviator Sunglasses (55),₹339,85% off
96,PIRASO,UV Protection Over-sized Sunglasses (65),₹383,15% off
97,Fastrack,UV Protection Oval Sunglasses (Free Size),"₹1,699",73% off
98,ROYAL SON,Polarized Rectangular Sunglasses (60),₹538,40% off
99,FOSSIL,Others Oval Sunglasses (56),"₹3,719",82% off

# Q-5) Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [12]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.flipkart.com/')
time.sleep(5)

#close the login prompt
login_dialog_box = driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
login_dialog_box.click()
time.sleep(2)

#enter iphone 11 in search field
search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search.send_keys('iphone 11')
time.sleep(2)

#click search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()
time.sleep(2)

#open tke link of first product on screen
driver.find_element(By.XPATH,'//a[@class="_1fQZEK"]').click()
time.sleep(2)

#switch to the active window
driver.switch_to.window(driver.window_handles[1])
time.sleep(2)

#check reviews
temp = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[7]/div/a').click()
time.sleep(2)

#initializing attributed need to be scraped
rating = []
review_summary = []
full_review = []

# each page contains 10 reviews only
page = 1

count_rating = 0
count_review_summary = 0
count_full_review = 0

while (page <= 11):
    #scraping rating from given page
    rating_x = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_x:
        if(count_rating<100):
            rating.append(i.text.strip())
            count_rating = count_rating + 1
    #print(rating)
            
    #scraping review summary
    summary = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        if(count_review_summary<100):
            review_summary.append(i.text.strip())
            count_review_summary = count_review_summary + 1
    #print(review_summary)

    #scraping full review
    ful_rev = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]//div//div')
    for i in ful_rev:
        if(count_full_review<100):
            full_review.append(i.text.strip())
            count_full_review = count_full_review + 1
    #print(full_review)

    #click next button
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]//span')
    for i in next_button:
        #print("i=",i.text)
        if (i.text == 'NEXT'):
            page = page + 1
            i.click()
            time.sleep(1)
#print("len of full_review",len(full_review))
#creating a data frame
df = pd.DataFrame({"Rating":rating,"Review Summary":review_summary,"Full Review":full_review})
df

,Rating,Review Summary,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,Gift this to your loved ones fabulous product ...
96,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
97,3,Classy product,Gifted my man on his 30th birthday 🎂 He loves ...
98,5,Awesome,"Always love the apple products, upgraded from ..."
99,5,Does the job,phone is good but in display is 720p lcd in th...

# Q-6) Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [13]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.flipkart.com/')
time.sleep(2)

#close the login prompt
login_dialog_box = driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
login_dialog_box.click()
time.sleep(2)

#enter sneakers in search field
search = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
search.send_keys('sneakers')
time.sleep(2)

#click search icon
search_icon = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_icon.click()
time.sleep(1)

#initializing attributed need to be scraped
brand_name = []
description = []
price = []
discount = []

#page contains 40 items only
page = 1

count_name = 0
count_des = 0
count_price = 0
count_dist = 0

while (page <= 3):
    #scraping name from given page
    name = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        if(count_name<100):
            brand_name.append(i.text.strip())
            count_name = count_name + 1
    #print(brand_name)
            
    #scraping description
    des = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        if(count_des<100):
            description.append(i.text.strip())
            count_des = count_des + 1
    #print(description)
    
    #scraping price
    pr = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pr:
        if(count_price<100):
            price.append(i.text.strip())
            count_price = count_price + 1
    #print(price)

    #scraping discount
    disc = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in disc:
        if(count_dist<100):
            discount.append(i.text.strip())
            count_dist = count_dist + 1
    #print(discount)

    #click next button
    next_button = driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]//span')
    for i in next_button:
        #print("i=",i.text)
        if (i.text == 'NEXT'):
            page = page + 1
            i.click()
            time.sleep(1)

    #print ("Length name:",{len(brand_name)})   
#creating a data frame
df = pd.DataFrame({"Brand Name":brand_name,"Description":description,"Price":price,"Discount":discount})
df

,Brand Name,Description,Price,Discount
0,Labbin,Sneakers For Men,₹499,50% off
1,RapidBox,Sneakers For Men,₹580,41% off
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
3,RED TAPE,Sneakers For Men,"₹1,499",70% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,UME INTERNATIONAL,Men's White Faux Leather Sneakers For Men,₹590,74% off
96,BRUTON,RS-FAST GO FOR Sneakers For Men,₹636,71% off
97,Roadster,x 1DER Jack V2 Sneakers For Men,₹849,50% off
98,HIGHLANDER,Casual Sneakers White Shoes For Girls And Snea...,₹599,50% off
99,UME INTERNATIONAL,Sneakers For Men,₹590,77% off

# Q-7)Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”. and scrape forst 100 shoe data

In [14]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.myntra.com/shoes')
time.sleep(2)

#set color filter to black
driver.find_elements(By.XPATH,'//li[@class="colour-listItem"]')[0].click()
time.sleep(2)

#set second price filter
driver.find_elements(By.XPATH,'//ul[@class="price-list"]//li')[1].click()
time.sleep(2)

#initializing attributed need to be scraped
brand_name = []
description = []
price = []

#page contains 40 items only
page = 1

count_name = 0
count_des = 0
count_price = 0

while (page <= 2):
    #scraping name from given page
    name = driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]//h3[@class="product-brand"]')
    for i in name:
        if(count_name<100):
            brand_name.append(i.text.strip())
            count_name = count_name + 1
    #print(brand_name)
            
    #scraping description
    des = driver.find_elements(By.XPATH,'//div[@class="product-productMetaInfo"]//h4[@class="product-product"]')
    for i in des:
        if(count_des<100):
            description.append(i.text.strip())
            count_des = count_des + 1
    #print(description)
    
    #scraping price
    pr = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in pr:
        if(count_price<100):
            price.append(i.text.strip().split('Rs. ')[1])
            count_price = count_price + 1
    #print(price)

    #click next button
    driver.find_element(By.XPATH,'//li[@class="pagination-next"]//a').click()
    page = page + 1
    time.sleep(1)

#creating a data frame
df = pd.DataFrame({"Brand Name":brand_name,"Description":description,"Price":price})
df

        Brand Name                        Description  Price
0         Skechers          Men Go Walk Walking Shoes   6374
1         Skechers          Men GO WALK - TERRA Shoes   8499
2             Puma        Men Fuse 2.0 Training Shoes   6399
3           ADIDAS      Men 4DFWD_Pulse Running Shoes  11199
4         Skechers     Men Go Run Hyper Burst Running   7224
..             ...                                ...    ...
95            Puma              Women Enlighten Shoes   5949
96          ADIDAS           Women EQ21 Running Shoes   6019
97    Hush Puppies  Men Solid Leather Formal Slip-Ons   9999
98  Tommy Hilfiger               Men Leather Sneakers   6509
99  Louis Philippe            Men Solid Formal Derbys   5949

[100 rows x 3 columns]

# Q-8) Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7”. After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [15]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.amazon.in/')
time.sleep(2)

#enter Laptop in the search field
driver.find_element(By.XPATH,'//input[@class="nav-input nav-progressive-attribute"]').send_keys('Laptop')
time.sleep(2)

#click the search button
driver.find_element(By.XPATH,'//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]').click()
time.sleep(2)

#select CPU type filter as "Intel Core i7"
driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]//i').click()
time.sleep(2)

#initializing attributed need to be scraped
title = []
rating = []
price = []

#scraping first 10 titles
temp = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in temp[0:10]:
    title.append(i.text.strip())

#print(title)

#scraping price
temp = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in temp[0:10]:
    price.append(i.text.strip())
#print(price)

#rating not able to scrape

#creating a data frame
df = pd.DataFrame({"Title":title,"Price":price})
df

                                               Title     Price
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    64,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...  1,00,000
2  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...    93,290
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    79,990
4  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    64,990
5  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    77,990
6  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    86,990
7  HP Pavilion x360 11th Gen Intel Core i7 14 inc...    80,990
8  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...  1,11,000
9  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...  1,09,990

# Q-9) scrape data for first 10 job results for Data Scientist Designation in Noida location. https://www.ambitionbox.com/

In [ ]:
#connect to the driver
driver = webdriver.Chrome(r'F:\Project Data\flip robo\chromedriver.exe')

#opening the page on automated chrome browser
driver.get('https://www.ambitionbox.com/')

#click job option
driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]').click()
time.sleep(2)

#enter data scientist in search option
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input').send_keys('Data Scientist')

#click search button
driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button').click()
time.sleep(1)

Not able to do Q-9 and Q-10 because website has changed and steps guided through the assignment sheet are not matching.